body{
    background-color: #FFFFFF;
    background-image: url('index_arquivos/back.gif');
    color: #000000;
}

a{
    color: #0000CC;
}

a:visited{
    color: #0000CC;
}

a:active{
    color: #0000CC;
}

#p1 {
    font-family: "Chessmaster", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
  }

#p2 {
    text-align: center;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-size: 1em;
}

#p3 {
    text-align: center;
  }
  
#img1 {
    width: 300px;
    height: 186px;
}

#p4 {
    text-align: justify;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

#table1 {
    width: 75%;
    border: 1px solid black;
    margin: 0 auto;
  }

  #td1 {
    width: 32%;
    text-align: center;
    font-family: "Chessmaster", sans-serif;
    font-style: italic;
  }
  
#td1 a {
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

#td2 {
    width: 31%;
    text-align: center;
    font-family: "Chessmaster", sans-serif;
    font-style: italic;
  }
  
#td2 a {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
  
  
#td3 {
    width: 37%;
    text-align: center;
    font-family: Chessmaster, sans-serif;
    font-style: italic;
}
  
#td3 a {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
  
#td4 {
    width: 32%;
    text-align: center;
    font-family: Chessmaster, sans-serif;
    font-style: italic;
}
  
#td4 a {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#td5 {
    width: 31%;
    text-align: center;
    font-family: Chessmaster, sans-serif;
    font-style: italic;
  }
  
  #td5 a {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }